# Local environment
COMPOSE_PROJECT_NAME=k8s-bigdata

# AWS values will be used by the EC2 phase.
AWS_REGION=ap-southeast-1
AWS_PROFILE=default

# Optional source project for preparing public Ethereum sample data.
GCP_PROJECT_ID=
